/*body {background-color: #FFCCCC; }*/

body {background-image: url("IMG_2_3.png");
    background-size: 100% auto ;
}

.jumbotron-extend {
    position: relative;
    height: 100vh;
    min-height: 300px;
    background: url("heart.png") no-repeat center center;
    background-size: cover;
}

.site-name {
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
}

.container {
    position: relative;
    top: 50%;
}

