body {background-color: pink; }

/*body {background-image: url("IMG_2_3.png");*/
/*    background-size: 100% auto ;*/
/*}*/


.step_zero {
  width:100%;
  max-width: 100%;
  height: auto;
}

.logo {
 background: url("IMG_2_3.png") no-repeat center;  
 background-size: 100% auto ;
}


.jumbotron-extend {
    /*position: relative;*/
    height: 100vh;
    min-height: 300px;
    background: url("heart.png") no-repeat center;
    background-size: cover;
}



.hanemaru {
    background-color: pink;
}

.site-name {
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
}

.container {
    position: relative;
    top: 50%;
}

.about_box {
    background:#fff;
    border-radius:18px;
    padding-bottom:60px;
    margin-bottom:45px;
}

.section {
    width:810px;
    margin:0 auto;
}

.about_block .about_box {
    padding:1px;
    line-height:2.2;
    font-size:1.125rem;
    padding:60px;
    margin-bottom:60px;
    
}

.wrap {
    width: 80%;
    max-width: 1200px;
    margin:0 auto;
    display:flex;
    align-items:center;
    padding: 5%;
}

.contents {
    display:flex;
    padding: 5%;
    width: 50%;
}

.card {
    margin: 5%;
}

.image {
 background:#fff;
 display: block;
 padding: 5%;
 margin-top: 60px

}

.step_contents {
    background:#fff;
    padding: 5%;
    margin-top: 60px

}

.step_contents_title {
    font-size: 2.4rem;
    margin-bottom: 2rem; 
}

.step_contents_2 {
   flex-direction: row-reverse;
   background:#fff;
   padding: 5%;
   margin-top: 60px 
}

.main_title {
    text-align: center;
    
}

.card-deck {
    margin-top:60px;
    background-color: dark;
}

.button_link {
    margin: 5% auto;
    width: 80%;
    height: 4rem;
    text-align: center;
}

.step_first {
   
}

.step_second {
   
}